 
{% extends 'receptionist_template/base_template.html' %}
{% block page_title %}
Appointments
{% endblock page_title %}
{% block main_content %}
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">


         <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Appointment Details</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Patient Phno.</th>
                    <th>Doctor ID</th>
                    <th>Doctor Name</th>
                    <th>Doctor Phno.</th>
                    <th>Date Time</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for appointment in appointment_view %}
                  <tr>
                    <td>{{ appointment.patient_id.id }}</td>
                    <td>{{ appointment.patient_id.admin.first_name }} {{appointment.patient.admin.last_name}}</td>
                    <td>{{ appointment.patient_id.phNo }}</td>
                    <td>{{ appointment.doctor_id.id }}</td>
                    <td>{{ appointment.doctor_id.admin.first_name }} {{ appointment.doctor.admin.last_name }}</td>
                    <td>{{ appointment.doctor_id.phNo }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{% if appointment.status %}  Active {% endif %} 
                        {% if appointment.status == 'False' %} Cancelled {% endif %}
                    </td>
                    
                   
    
                    <td><a href="/edit_appointment/{{ appointment.id }}" class="btn btn-success">Edit</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
            {% endif %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
            {% endif %}
            {% endfor %}
          {% endif %}
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
  <!-- /.content-wrapper -->
  {% endblock main_content %}