 
{% extends 'doctor_template/base_template.html' %}
{% block page_title %}
Doctors
{% endblock page_title %}
{% block main_content %}
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">


         <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Prescriptions</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Diagnosis</th>
                    <th>Treatment</th>
                    <th>Medicine ID</th>
                    <th>Medicine Name</th>
                   
                  </tr>
                </thead>
                <tbody>
                {% for prescription in prescriptions %}
                  <tr>
                    <td>{{ prescription.patient_id.id }}</td>
                    <td>{{ prescription.patient_id.admin.first_name }} {{ prescription.patient_id.admin.last_name }}</td>
        
                    <td>{{ prescription.diagnosis }}</td>
                    <td>{{ prescription.treatment}}</td>
                    <td>{{ prescription.medicine_id.id}}</td>
                    <td>{{ prescription.medicine_id.medicine_name}}</td>
                   
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
  <!-- /.content-wrapper -->
  {% endblock main_content %}