 
{% extends 'patient_template/base_template.html' %}
{% block page_title %}
Appointment Requests
{% endblock page_title %}
{% block main_content %}
   <!-- Main content -->
   <section class="content">
    <div class="container-fluid">


         <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Requested Appointment Details</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    
                    <th>Doctor ID</th>
                    <th>Doctor Name</th>
                   <th>Doctor Specialization </th>
                   <th>Doctor PhNo</th>
                    <th>Date</th>
                    <th>Status</th>
                  
                  </tr>
                </thead>
                <tbody>
                {% for appointment in appointment_view %}
                  <tr>
                
                    <td>{{ appointment.doctor_id.id }}</td>
                    <td>{{ appointment.doctor_id.admin.first_name }} {{ appointment.doctor_id.admin.last_name }}</td>
                    <td>{{ appointment.doctor_id.specialization }}</td>
                    <td>{{ appointment.doctor_id.phNo }}</td>
                    <td>{{ appointment.date }}</td>
                    <td> {% if appointment.status %} Approved {% else %} Pending {% endif %} </td>
                     
        
                    
                   
    
                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
  <!-- /.content-wrapper -->
  {% endblock main_content %}